name: Xiaowei R. Wang

location: Emeryville, CA
phone: +1 (857) 225-4482
email: xiaowei.r.wang@gmail.com

website: http://xrwang.github.io
github: xrwang
linkedin: https://www.linkedin.com/in/xiaoweirwang/

work:
  -
    company: Dongles.net
    title: Founder, CEO
    location: Cape Ricky, DE
    duration: 2009-Present
    description: "Founded the <em>best</em> dongle rating and review site on the Web."
  -
    company: Johnny Cabo's
    title: Busboy
    location: Devon, PA
    duration: January 2005-Present
    description: "Bus tables at local Tex-Mex restaurant."

education:
  -
    school: University of San Francisco Data Institute
    location: Online
    year: 2011
    degree: Certificate in Deep Learning
    focus: Fast.ai certificate in deep learning

publications:
  -
    title: "What's the best dongle?"
    publisher: The Dongle Gazette
    date: March 3rd, 2012
    authors: Goob Wang

projects:
  -
    title: DongleConf
    date: 2015-Present
    description: "A yearly conference bringing together the dongle community. Past keynote speakers include Gary Cello, JJ Gobler and Tiffany Columnhouse-Guntherton."

service:
  -
    organization: Dongles 2 the Kidz
    location: Cape Todd, DE
    title: Dongle Youth Mentor
    date: 2015
    description: "Taught middle schoolers the facts I know about dongles and what the best dongles are."
