/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* == END RESET == */

body {
  /* font-family: 'PT Mono';/*, 'Andale Mono', 'Courier', 'Circular Std';*/
  font-family: Helvetica, arial, sans-serif;
  font-weight: 400;
  margin: 10mm;
  line-height: 1.4;
  font-size: 12px;
}

header {
  margin: 10px 0 140px;
  display: flex;
}

header > div {
  flex: 2;
}

header > p {
  flex: 1;
}

header p {
  font-size: .9em;
  line-height: 1.6;
  padding-top: 2px;
}

section {
  margin: 50px 0;
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 1em;
}

section h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 18px;
  letter-spacing: 0.02em;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

@media print {
  body {
    padding: 0;
  }
}

a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: inherit;
}

table {
  width: 100%;
  table-layout: fixed;
}

thead tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

thead td {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 3px;
}

tbody tr {
  border-bottom: 1px solid #000;
}

tbody td {
  padding-top: 5px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

/* assumes 3-column tables */

td:nth-child(1) {
  width: 40%;
}

td:nth-child(2) {
  width: 40%;
}

td:nth-child(3) {
  width: 20%;
}

td {
  padding-right: 20px;
}

td:last-child {
  padding-right: 0;
}

@media print {
  section h1 {
    break-after: avoid;
  }
}
